body {
    background-color: aliceblue !important;
}
.container {
    margin-bottom: 50px;
}
.header {
    background-image: linear-gradient(0, #0989b0, #2cc4d3);
    height:  150px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.header_logo-image{
    width: 130px;
}
.header_banner {
    text-align: center;
    text-decoration-color: rgb(131, 137, 143);
}
.header_banner-img {
    width: 60%;
    height: 90px;
    border-radius: 50px;
}
.content { padding: 20px; }
.card { background-color: white; box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5); }
.cards { max-width: 700px; margin: 0 auto; display: grid; grid-gap: 2rem; grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); }
.reading { font-size: 2.8rem; }
.timestamp { color: #bebebe; font-size: 1rem; }
.card-title{ font-size: 1.2rem; font-weight : bold; }
.card.temperature { color: #B10F2E; }
.card.humidity { color: #50B8B4; }


